<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273130001988-gr5vumdo5ubbfoh42vnbipho6t9j6o2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273130001988-gr5vumdo5ubbfoh42vnbipho6t9j6o2b</string>
	<key>API_KEY</key>
	<string>AIzaSyDWcT1ABHOHAcuyX5d-SgLfxkWMddKermA</string>
	<key>GCM_SENDER_ID</key>
	<string>273130001988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>haju.project.MyRecipes</string>
	<key>PROJECT_ID</key>
	<string>myrecipes-a51c5</string>
	<key>STORAGE_BUCKET</key>
	<string>myrecipes-a51c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273130001988:ios:062816ea161aaa0f270e11</string>
</dict>
</plist>